body.box-shadow {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/ignasi_pattern_s.png");
  position: relative;

}
.boxShadow {
  @include centerer;
  width: 100%;

}
/* Create a simple white box, and add the shadow for the initial state */

.box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 350px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s $timing;
  margin-top: 1em;
   &__content {
    position: absolute;
    padding: 4em;
  }

}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.box::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s $timing;
}
/* Scale up the box */
.box:hover {
  transform: scale(1.1, 1.1);
  z-index: 1;
}

/* Fade in the pseudo-element with the bigger shadow */
.box:hover::after {
  opacity: 1;
}