body.skrollr {
	background-color: #000;

}
.spacer {
	height: 100vh;

}

.skrollable-before {
	.destination__content {
		transition: opacity .4s $timing,;


	}

}
.skrollable-between {
	.destination__content {
		opacity:0.5;

	}

}
.skrollable-after {
	.destination__content {
		opacity:1;

	}

}
.destination {

	// position: relative;
	overflow: hidden;
	width: 100%;

	background: url('https://images.unsplash.com/photo-1450101215322-bf5cd27642fc?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1200') 0 50%;
	background-size: cover;
	&__box {

		height: 800px;
		position: relative;
		float: left;

		transform: skew(-20deg);
		width: calc(50%) ;
		overflow: hidden;





		&--left {
			background-color: black(.5);
			background: linear-gradient(135deg, rgba(0,0,0,.8) 0%,rgba(0,0,0,.1));
			// backdrop-filter: blur(80px);
			margin-left: -144px;
			width: calc(50% + 144px);
			color: white;
			box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.19);
			transition: box-shadow .4s $timing;

			&::after {
				transform: skew(20deg);
				content:"";
				color:black;
				font-size: 30px;
				line-height: 100px;
				text-align: center;
				position: absolute;
				width:100px;
				height: 100px;
				top: calc(50% - 50px);
				right:-50px;
				background-color: #eac94e;
				border-radius:50%;
				opacity:0;
				box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.19);
				transition: opacity .4s $timing, transform .8s $timing,box-shadow .8s $timing,top .8s $timing;
			}
			&.skrollable-between {

				&::after {
					opacity:1;
					top: calc(50% - 50px);
					transform: skew(20deg);
					box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.19),;

				}

			}

			&.skrollable-after {
			box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.19);
				&::after {
					opacity:1;
					transform: skew(20deg);
					top: calc(50% - 100px);
					box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.19),0px 0 0 150px rgba(0,0,0,0.15);

				}

			}



		}

		&--right {
			background-color: white(.6);
			background: linear-gradient(-135deg, rgba(250,250,250,1) 0%,rgba(250,250,250,.1));
			// backdrop-filter: blur(10px);
			margin-right: -144px;
			text-align: center;
			box-shadow: inset 0 0 0 200px rgba(250, 250, 250, 0.19);
			transition: box-shadow .4s $timing;

			width: calc(50% + 144px);
			&::before {
				transform: skew(20deg);
				content:"";
				font-size: 30px;
				color:white;
				line-height: 100px;
				text-align: center;
				position: absolute;
				width:100px;
				height: 100px;
				top: calc(50% - 50px);
				left:-50px;
				background-color: black;
				border-radius: 50%;
				opacity:0;

				box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.19);
				transition: opacity .4s $timing, transform .8s $timing,box-shadow .8s $timing,top .8s $timing;
			}

			&.skrollable-between {

				&::before {
					top: calc(50% - 50px);
					opacity:1;
					transform: skew(20deg);
					box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.19),;

				}

			}
			&.skrollable-after {
				box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.19);
				&::before {
					opacity:1;

					transform: skew(20deg);
					top: calc(50% + 41px);
					box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.19),0px 0 0 150px rgba(0,0,0,0.15);

				}

			}
			h1 {
				font-size: 60px;
				letter-spacing: 5px;
				font-weight: 300;
				margin-bottom: 10px;
				line-height: 1;
				border-bottom: 1px solid black;
				@include breakpoint($bpM) {
					font-size: 40px;
				};
			}
			p {
				font-size: 20px;
			}



		}

	}

	&__content {

		@include centererSkew;

		width: 60%;
		padding: 0 $spacing;


		&--left {

			float: right;
			margin-right: 72px;
			padding:2em;
			background-color: black(.1);

		}
		&--right {
			float: left;
			margin-left: -72px;


		}

	}
}