<div class="boxShadow">

	<div class="row">
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam repellendus expedita eligendi voluptates molestiae velit recusandae soluta debitis eum nostrum nulla harum maxime, corrupti earum voluptate pariatur magnam sint nemo, suscipit veritatis voluptatum iste nam! Neque?</div>
			</div>
		</div>
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Omnis velit provident, quae pariatur laudantium ea fugit nesciunt est, adipisci culpa voluptates itaque dolorum accusamus quibusdam officiis nobis vitae quos, corrupti aperiam quidem at reprehenderit veritatis voluptate vel. Similique unde aliquam neque quaerat, doloribus at?</div>
			</div>
		</div>
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Blanditiis dolore cupiditate repellendus suscipit molestiae soluta ab est, architecto. Corporis aperiam expedita ad earum quas minima repellendus culpa, molestias placeat magnam delectus, dolor ipsa nemo? Unde, quisquam, numquam harum pariatur ad dolore praesentium tempora obcaecati.</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nisi cum ab nihil? Dignissimos, incidunt quibusdam necessitatibus adipisci qui iste officiis beatae voluptas quod eligendi eius? Illum, nisi. Consequatur iusto necessitatibus corporis, minus sapiente impedit pariatur!</div>
			</div>
		</div>
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Adipisci nostrum quis illo nulla, officiis quaerat culpa dolorum harum explicabo magni ea deleniti voluptas non officia. Perspiciatis debitis ut dolore, assumenda tempore deleniti repellendus quas laborum saepe error nihil reiciendis repellat quod temporibus cumque. Maxime?</div>
			</div>
		</div>
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Animi perferendis porro culpa! Quas ipsam natus tempore dicta doloremque inventore laborum autem nostrum, consequuntur, a non quasi aliquid veniam nisi modi at fuga nulla blanditiis commodi! Minus, quam repellendus beatae minima sequi accusamus ab veniam.</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta aliquam, nobis nulla quas dolor reiciendis itaque nisi, deserunt architecto sed! Quam tempore cupiditate asperiores, amet nesciunt reiciendis, nihil quidem perferendis magni corporis error mollitia aliquid perspiciatis.</div>
			</div>
		</div>
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Mollitia saepe non maiores consequuntur itaque dolores dignissimos accusantium magnam error qui officia consectetur eos natus aliquid quam placeat nostrum sit, sapiente in autem reiciendis quia quod fugiat reprehenderit! Ipsam dicta quas officiis eos maxime perspiciatis?</div>
			</div>
		</div>
		<div class="column small-4">
			<div class="box">
				<div class="box__content">Consectetur nihil fugit quidem asperiores eaque est itaque repellendus dolorem quam quisquam incidunt at aspernatur libero sed nesciunt, minus aliquam quibusdam, vitae debitis. Porro soluta in asperiores velit. Natus, voluptate nostrum autem expedita nisi aliquid saepe.</div>
			</div>
		</div>
	</div>
</div>