<div class="container">
	<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1004 924">

		<g class="diagram">
			<text class="diagram__text" transform="translate(682.58 712)" >CHEAP</text>
			<text class="diagram__text" transform="translate(140.69 712)" >FAST</text>
			<text class="diagram__text" transform="translate(380 252)" >GOOD</text>

			<circle id="cheap" class="diagram__circle diagram__circle--cheap" cx="702" cy="622" r="300" />
			<circle id="fast" class="diagram__circle diagram__circle--fast" cx="302" cy="622" r="300" />
			<circle id="good" class="diagram__circle diagram__circle--good" cx="502" cy="302" r="300" />



			<text id="crappy" class="diagram__text diagram__text--between" transform="translate(439.27 692)">CRAPPY</text>
			<text id="slow" class="diagram__text diagram__text--between" transform="translate(604.68 432)">SLOW</text>
			<text id="expensive" class="diagram__text diagram__text--between" transform="translate(263.8 432)">EXPENSIVE</text>

			<text id="moreasthree" class="diagram__text diagram__text--between" transform="translate(471.37 514.5)">KEEP</tspan><tspan x="-35" y="24">DREAMING</tspan></text>

		</g>
 <filter id="AI_Shadow_1" name="AI_Shadow_1">
      <feGaussianBlur result="blur" stdDeviation="2" in="SourceAlpha"/>
      <feOffset result="offsetBlurredAlpha" dx="0" dy="0" in="blur"/>
      <feMerge>
        <feMergeNode in="offsetBlurredAlpha"/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
	</svg>


</div>