<div class="row">

	<div class="column large-6">

		<h1>Custom Checkboxes</h1>
		<div>

			<input class="checkbox-v01" id="box1" type="checkbox" />
			<label for="box1">checkbox-v01</label>
			<br>
			<input class="toggle-v01" id="box2" type="checkbox" />
			<label for="box2">checkbox-v02</label>
			<br>
			<input class="checkbox-v01" id="box3" type="checkbox" />
			<label for="box3">checkbox-v03</label>
		</div>

	</div>

	<div class="column large-6">

		<h1>Custom Radio Buttons</h1>
		<div>
			<input class="radio-v01" id="radio01" name="a" type="radio" />
			<label for="radio01">radio-v01</label>
			<br>
			<input class="radio-v01" id="radio02" name="a" type="radio" />
			<label for="radio02">radio-v02</label>
			<br>
			<input class="radio-v01" id="radio03" name="a" type="radio" />
			<label for="radio03">radio-v03</label>
		</div>

	</div>
</div>
