<div class="row">

	<div class="column small-12 medium-6">

		<a href="/radiocheck.html"><h2>Custom Radio & Checkboxes</h2></a>
		<a href="/tilted-slideshow.html"><h2>Tilted Content Slideshow</h2></a>
		<a href="/swipe.html"><h2>Swipe</h2></a>
		<a href="/border.html"><h2>Switch Border</h2></a>
	</div>
	<div class="column small-12 medium-6">
		<a href="/box-shadow.html"><h2>Box Shadow</h2></a>
		<a href="/diagram.html"><h2>Diagram</h2></a>
		<a href="/amcharts.html"><h2>Amcharts</h2></a>
		<a href="/skrollr.html"><h2>skrollr</h2></a>
		<a href="/video.html"><h2>video</h2></a>

	</div>
</div>
