<div class="row">

	<div class="column large-12">

		<a href="/radiocheck.html"><h2>Custom Radio & Checkboxes</h2></a>
		<a href="/tilted-slideshow.html"><h2>Tilted Content Slideshow</h2></a>
		<a href="/swipe.html"><h2>Swipe</h2></a>
		<a href="/border.html"><h2>Switch Border</h2></a>
		<a href="/box-shadow.html"><h2>Box Shadow</h2></a>
		<a href="/diagram.html"><h2>Diagram</h2></a>

	</div>
</div>
