
<div class="spacer"></div>

<div class="destination">
	<div class="destination__box destination__box--left" data-bottom="transform[quadratic]: translateX(-100%) skew(-20deg);" data-center="transform: translateX(0) skew(-20deg)">
		<div class="destination__content destination__content--left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repellendus consequuntur facilis ad officia saepe delectus sequi omnis tenetur pariatur corrupti iure, possimus ipsa veniam sint recusandae nisi quos voluptatibus, quam expedita qui reprehenderit, sunt cupiditate. Dicta at reiciendis, nulla, asperiores molestias impedit assumenda eaque itaque illum mollitia sed quasi excepturi cupiditate deserunt quas ipsa praesentium animi, tenetur, facere. Ducimus ratione, ex reiciendis. Assumenda, in mollitia eius ducimus nam placeat eos recusandae soluta culpa? Alias molestias id voluptates maiores eum!</div>
	</div>
	<div class="destination__box destination__box--right" data-bottom="transform[quadratic]: translateX(100%) skew(-20deg);" data-center="transform: translateX(0) skew(-20deg);">
		<div class="destination__content destination__content--right"><h1>LOREM IPSUM</h1><p>Dollar Amor sit amet<p></div>
	</div>

</div>

<div class="spacer"></div>
<!--
g = grey
category [ abstract, city , people, transport, animals, food, nature, business, nightlife, sports, cats, fashion, technics ]
-->
<img src="http://lorempixel.com/300/300" alt="alt">