<div class="touchSwipe">
	<div class="touchSwipe__item"><div class="touchSwipe__content">01</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">02</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">03</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">04</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">05</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">06</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">07</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">08</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">09</div></div>
	<div class="touchSwipe__item"><div class="touchSwipe__content">10</div></div>
</div>