<div class="container">
			<div class="slideshow" id="slideshow">
				<ol class="slides">
					<li class="current">
						<div class="description">
							<h2>RED BULLETIN</h2>
							<p>Lorem ipsum dolor sit amet, RED BULLETIN adipisicing elit. Accusamus quia aut sint optio laborum molestias repudiandae, odio quisquam temporibus minima repellat, aliquam corrupti.</p>
							<a class="btn-dark" href="#">Lorem ipsum</a>
						</div>
						<div class="tiltview col">
							<a href="#"><img src="assets/images/tiltSlider/img/cover_red_01.jpg"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>RESPONSIVE</h2>
							<p>Auf kleineren Bildschirmen werden die Elemente auf der rechten Seite transparenter und dienen nur als Dekoration. Der Fokus liegt auf der Beschreibung, welche die gesamte Breite des Bildschirms einnehmen wird. </p>
							<a class="btn-dark" href="#">Das ist Cool!!</a>
						</div>
						<div class="tiltview row ">
							<a href="#"><img src="assets/images/tiltSlider/img/cover_berg_01.jpg"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>SEITEN BLICKE</h2>
							<p>Lorem ipsum dolor sit amet, lorem adipisicing elit. Accusamus quia aut optio laborum molestias repudiandae, odio quisquam temporibus minima repellat, aliquam corrupti.</p>
							<a class="btn-dark" href="#">Abonnieren</a>
						</div>
						<div class="tiltview col">
							<a href="#"><img src="assets/images/tiltSlider/img/cover_blick_01.jpg"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>SERVUS</h2>
							<p>Lorem ipsum dolor sit REDBULL MEDIA HOUSE adipisicing elit. Accusamus quia aut SERVUS optio laborum molestias repudiandae, odio quisquam temporibus minima repellat. </p>
							<a class="btn-dark" href="#">Gude :)</a>
						</div>
						<div class="tiltview row">
							<a href="#"><img src="assets/images/tiltSlider/img/cover_servus_01.jpg"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>RESPONSIVE</h2>
							<p>Auf kleineren Bildschirmen werden die Elemente auf der rechten Seite transparenter und dienen nur als Dekoration. Der Fokus liegt auf der Beschreibung, welche die gesamte Breite des Bildschirms einnehmen wird. </p>
							<a class="btn-dark" href="#">Das ist Cool!!</a>
						</div>
						<div class="tiltview col">
							<a href="#"><img src="assets/images/tiltSlider/img/cover_terra_01.jpg"/></a>
						</div>
					</li>
					<li>
						<div class="description">
							<h2>#ICH</h2>
							<p>Lorem ipsum dolor sit REDBULL MEDIA HOUSE adipisicing elit. Accusamus quia aut #ICH optio laborum molestias repudiandae, odio quisquam temporibus minima repellat. </p>
							<a class="btn-dark" href="#">Und ich auch</a>
						</div>
						<div class="tiltview row">
							<a href="#"><img src="assets/images/tiltSlider/img/cover_ich_01.jpg"/></a>
						</div>
					</li>
				</ol>
			</div><!-- /slideshow -->

		</div><!-- /container -->